/*TODO: Не использовать импорт, добавить в проект */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0;
  @apply bg-grey-2;
  font-family: 'Montserrat', sans-serif;
}


.ld-button-main,
.ld-button-secondary {
  @apply py-3 px-3 font-bold;
}

/**** ld-button-main ****/
.ld-button-main {
  @apply text-white;
  @apply bg-blue-3;
  @apply border border-transparent rounded-ld-md;
  box-shadow: 0 4px 10px 0 #109CF13D;
  min-height: 32px;
  /*background-color: #2a4265;*/
}

.ld-button-main:hover,
.ld-button-main.hover {
  @apply bg-blue-4;
}

.ld-button-main:active,
.ld-button-main.active {
  @apply bg-blue-5;
}

.ld-button-main:disabled,
.ld-button-main.disabled {
  @apply text-grey-2 bg-grey-1;
  box-shadow: none;
}

/**** ld-button-secondary ****/
.ld-button-secondary {
  @apply text-blue-3;
  @apply border-2 border-blue-3 rounded-ld-md;
}

.ld-button-secondary:hover,
.ld-button-secondary.hover {
  @apply text-blue-4 border-blue-4;
}

.ld-button-secondary:active,
.ld-button-secondary.active {
  @apply text-blue-5 border-blue-5;
}

.ld-button-secondary:disabled,
.ld-button-secondary.disabled {
  @apply text-grey-1 border-grey-1;
}

/**** ld-button-link ****/
.ld-button-link {
  @apply text-blue-3 font-bold;
}

.ld-button-link:hover,
.ld-button-link.hover {
  @apply text-blue-4;
}

.ld-button-link:active,
.ld-button-link.active {
  @apply text-blue-5;
}

.ld-button-link:disabled,
.ld-button-link.disabled {
  @apply text-grey-1;
}

/**** ld-label ****/
.ld-label-green,
.ld-label-red,
.ld-label-yellow,
.ld-label-purple {
  @apply border-2 rounded-full;
  @apply px-4 py-1 font-bold;
  @apply flex items-center justify-center;
  max-width: max-content;
}

.ld-label-green {
  @apply text-green-2 border-green-2;
}

.ld-label-yellow {
  @apply text-yellow border-yellow;
}

.ld-label-purple {
  @apply text-purple border-purple;
}

.ld-label-red {
  @apply text-red border-red;
}
